<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<body>
<h1 style="text-decoration:underline;">FIXED ASSETS SCHEDULE</h1><br/>
	<?php echo 'From '.$date_from.' to '.$date_to; ?><br/>
	<table >
		<?php 
			$width = 80/$cat_count;
		?>
		
		<tr style="padding:100px;">
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<?php
				foreach($category_data as $cat) {
					echo '<td>'.$cat['asset_category_name'].'</td>';
				}
			?>
			<td><b>Total</b></td>
		</tr>
		<tr >
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>Ksh</td>';
			}
			?>
			<td><b>Ksh</b></td>
		</tr>
		<tr>
			<td colspan="9"><hr/></td>
		</tr>
		<tr >
			<td><b>As at start</b></td>
			<td>&nbsp;</td>
			<?php 
			$sum = 0;
			$count = 0;
			foreach($startSum as $cat) {
				$sum +=$cat;
				echo '<td>'.number_format($cat).'</td>';
				$count++;
			}
			?>
			<td><b><?php echo number_format($sum) ?></b></td>
		</tr>
		<tr >
			<td>Additions</td>
			<td>&nbsp;</td>
			<?php 
			$sum =0;
			foreach($additions as $cat) {
				$sum +=$cat;
				echo '<td>'.number_format($cat).'</td>';
			}
			?>
			<td><b><?php echo number_format($sum) ?></b></td>
		</tr>
		<tr >
			<td>Disposals</td>
			<td>&nbsp;</td>
			<?php 
			$sum =0;
			foreach($disposals as $cat) {
				$sum +=$cat;
				echo '<td>'.number_format($cat).'</td>';
			}
			?>
			<td><b><?php echo number_format($sum) ?></b></td>
		</tr>
		<tr >
			<td><b>As at end</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td><b>3,432,233</b></td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr>
			<td colspan="7">&nbsp;</td>
		</tr>
		<tr >
		<td><b>Depreciation</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>'.$cat['asset_category_depreciation_rate'].'%</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td><b>As at start</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td><b>3,432,233</b></td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td>Charge of the year</td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>3,432,233</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td>Disposals</td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>3,432,233</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td><b>As at end</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td><b>3,432,233</b></td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr>
			<td colspan="7">&nbsp;</td>
		</tr>
		<tr >
			<td><b>Net Book Value</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>3,432,233</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td><b>As at end</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>3,432,233</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
		<tr >
			<td><b>As at start</b></td>
			<td>&nbsp;</td>
			<?php 
			foreach($category_data as $cat) {
				echo '<td>3,432,233</td>';
			}
			?>
			<td><b>4,324,345</b></td>
		</tr>
	</table>
</body>
</html>
