<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php include('common/header.php'); ?>

<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/forms.js"></script>
<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/attributes.js"></script>
<script type="text/javascript">

</script>
</head>

<body class="withvernav">

<div class="bodywrapper">

	<?php include('common/top_header.php'); ?>
	<?php include('common/menu_header.php'); ?>
		
	<div class="centercontent" style="padding-bottom:50px;">
	
		<div class="pageheader">
			<h1 class="pagetitle">Assets</h1>
			<span class="pagedesc">Add, edit and update assets</span>
			
			<ul class="hornav">
				<li><a href="<?php t('baseUrl'); ?>asset">Asset List</a></li>
				<li class="current"><a >Add an asset</a></li>
				<li><a href="<?php t('baseUrl'); ?>asset/bulk">Bulk add assets</a></li>
				<li><a href ="<?php echo $baseUrl.'returnedassets/all_assets'?>">Returned assets pending approval (<?php echo $count; ?>)</a></li>
				<li><a href="<?php t('baseUrl'); ?>disposeasset">Assets set for disposal</a></li>
			</ul>
		</div><!--pageheader-->
		
		
		<div id="contentwrapper" class="contentwrapper">
			<div id="addAsset" class="subcontent">
				<div class="contenttitle2">
					<h3>Add assets</h3> 
				</div><!--contenttitle-->
				<br />
				<form id="asset_add" action="<?php t('baseUrl') ?>asset/add" method="post"  class="quickform"   enctype="multipart/form-data">

					<input type="hidden" name="count" id="count" value="1"/>
					<p>
						<label for="title">Asset tag id <i style="color:red">*</i></label>
						<input type="text" name="tag_id" id="tag_id" class="smallinput" />
					</p>
					<p>
						<label for="slug">Model/Type <i style="color:red">*</i></label>
						<input type="text" name="model" id="model" placeholder="E.g a Dell laptop, office desk, cabinet." class="smallinput" />
					</p>
					<p>
						<label for="slug"> Category of the asset <i style="color:red">*</i></label>
						<select id="category" name="category" onchange="showAttributes(document.getElementById('category').value, '<?php echo $baseUrl;?>asset/attrib')">
							<?php
							foreach ($category_data as $cat) {
								echo '<option value="'.$cat['asset_category_id'].'">'.$cat['asset_category_name'].'</option>'."\n";
							}
							?>
						</select>
						<p id="attrib_section"></p>
					</p>
					
					<p>
						<label for="slug">Initial cost of the asset/Sale prices (Ksh) <i style="color:red">*</i></label>
						<input type="number" name="cost" id="cost" class="smallinput" />
					</p>
					
					<p>
						<label for="date">Supply Date <i style="color:red">*</i></label>
						<input type="text" name="date" id="date" class="smallinput" />
					</p>
					<p>
						<label>Supplier name and contact </label>
						<input type="text" name="supplier" class="smallinput" />
					</p>
					<p>
						<label for="date">Add any other notes here</label>
						<textarea cols="40" rows="5"  class="longinput" name='description' ></textarea>
					</p>
					
					<div id="images">
						<div id="image_1">
							<p>
								<label>Upload an Image of the asset</label>
								<span class="field">
									<input type="file" name="asset_img_1" />
								</span>
							</p>
						</div>
						<div id ="image_2"></div>
					</div>
					<button onclick="addAnother();return false;" class="stdbtn">Add Another Image</button>
					<script type="text/javascript">
					var num = 1;
					var count = 1;
					
					function addAnother() {
						num++;
						count++;
						document.getElementById('image_'+num).innerHTML += getHtml(num);
						document.getElementById('count').value = count;
					}
					
					function getHtml(num) {
						return '<p><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>'+
								'<span class="field">'+
									'<input type="file" name="asset_img_'+num+'" />'+
								'</span>'+
							'</p>'+
						'<div id="image_'+(num+1)+'"></div>';
					}
					</script>
					<br clear="all" />
					
					<div class="quickformbutton">
						<button class="update">Save</button>
						<a href="<?php echo $baseUrl.'asset'?>" class="stdbtn cancel">Cancel</a>
					</div><!-- button -->
				</form>
			</div><!-- #activities -->
		
		</div><!--contentwrapper-->
		
		<br clear="all" />
		
	</div><!-- centercontent -->
	
</div><!--bodywrapper-->
<?php include('footer.html'); ?>
</body>
</html>
