<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php include('common/header.php'); ?>

<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/forms.js"></script>

</head>

<body class="withvernav">

<div class="bodywrapper">

	<?php include('common/top_header.php'); ?>
	<?php include('common/menu_header.php'); ?>
		
	<div class="centercontent">
	
		<div class="pageheader">
			<h1 class="pagetitle">Edit Profile</h1>
			<span class="pagedesc">Remember to keep this page with up-to-date information so as to better serve you.</span>
			
			<ul class="hornav">
				<li><a href="<?php echo $baseUrl.'myprofile?id='.Auth::getLoggedInUserId() ?>">My Profile</a></li>
				<li><a href="<?php echo $baseUrl.'myprofile/update?id='.Auth::getLoggedInUserId(); ?>">Edit Profile</a></li>
				<li class="current"><a>Change Password</a></li>
				
			</ul>
		</div><!--pageheader-->
		
		<div id="contentwrapper" class="contentwrapper">
		
			<div id="updates" class="subcontent">
				<div class="contenttitle2">
					<h3>Change Password</h3>
				</div><!--contenttitle-->
				<div>
					<div style="float:left; height:100px;padding:20px;">
						<p>
							<img src="<?php echo Registry::getUserAvatarUrl(Auth::getLoggedInUserId()) ?>" height="50px"/>
						</p>
					</div>
					<div>
						<?php if ($flag == 0 ) { ?>
						<form action="<?php echo $baseUrl.'myprofile/get_old_password'?>" id="old_pass" method="post" >
							<p>
								<label>Enter your old Password</label><br/>
								<input type="password" name="old_password" id="old_password" class="smallinput"  />
							</p>
							<input type="submit" value="Submit" class="stdbtn"/>
						</form>
						<?php 
						} else { ?>
						<form action="<?php echo $baseUrl.'myprofile/new_password'?>" id="new_pass" method="post" >
							<p>
								<label>New Password</label><br/>
								<input type="password" name="new_password" id="new_password" class="smallinput" />
							</p>
							<p>
								<label>Confirm New Password</label><br/>
								<input type="password" name="confirm_password" id="confirm_password" class="smallinput" />
							</p>

							<input type="submit" value="Submit" class="stdbtn"/>
						<?php } ?>
						</form>
						<br class="clearall"/>
						<br class="clearall"/>
						<br class="clearall"/>
						<br class="clearall"/>
					</div>
				</div>
			</div><!-- #updates -->
		
		</div><!--contentwrapper-->
		
		<br clear="all" />
		
	</div><!-- centercontent -->
	
	
</div><!--bodywrapper-->
<?php include('footer.html'); ?>
</body>
</html>


