<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if IE 9]>
		<link rel="stylesheet" media="screen" href="<?php t('templatePathUrl') ?>css/style.ie9.css"/>
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" media="screen" href="<?php t('templatePathUrl') ?>css/style.ie8.css"/>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="<?php t('templatePathUrl') ?>http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<title>Sign up |KU AMS</title>
	
	<link rel="stylesheet" href="<?php t('templatePathUrl') ?>css/style.default.css" type="text/css" />
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery.cookie.js"></script>
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/plugins/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/general.js"></script>
	<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/index.js"></script>
</head>

<body class="loginpage">
	<div class="loginbox">
		<div class="loginboxinner">
			
			<div class="logo">
				<img src='<?php t('templatePathUrl') ?>images/logo.png' style='height:40px;float:left;'/>
				<h1><span>KU.</span>AMS</h1>
				<p>Kenyatta Univesity. Asset Management System</p>
			</div><!--logo-->
			<br clear="all" /><br />
			<p class='newuser' style='text-decoration:none'>Fill in the form below correctly so as to access your account.</p>
			<p class='newuser' style='text-decoration:none' ><i>All fields are required.</i></p>
			<?php  if (!empty($error_msg)) { ?>
			 <div class="notibar msgerror">
				<a class="close"></a>
				<p> <?php echo $error_msg; ?></p>
			</div>
			<?php } ?>

			<form id="login" action="<?php t('baseUrl') ?>newuser" method="post">
				
				<div class="username">
					<div class="usernameinner">
						<input type="text" name="employment_number" id="" placeholder="Employment number" value="<?php if (isset($_POST['employment_number'])) echo $_POST['employment_number']?>"/>
					</div>
				</div>
				<div class="username">
					<div class="usernameinner">
						<input type="text" name="id_number" id="" placeholder="National ID/Passport number" value="<?php if (isset($_POST['id_number'])) echo $_POST['id_number']?>"/>
					</div>
				</div>
				<div class="username">
					<div class="usernameinner">
						<input type="text" name="username" id="" placeholder="Your preferred username" value="<?php if (isset($_POST['username'])) echo $_POST['username']?>"/>
					</div>
				</div>
				
				<div class="password">
					<div class="passwordinner">
						<input type="password" name="password" id="password" placeholder="Your password"/>
					</div>
				</div>
				<div class="password">
					<div class="passwordinner">
						<input type="password" name="" id="password" placeholder="Confirm your password" />
					</div>
				</div>
				<div class="username">
					<div class="usernameinner">
						<input type="text" name="email" placeholder="Email address" value="<?php if (isset($_POST['email'])) echo $_POST['email']?>"/>
					</div>
				</div>
				<div class="username">
					<div class="usernameinner">
						<input type="text" name="phone_number"placeholder="Phone number" value="<?php if (isset($_POST['phone_number'])) echo $_POST['phone_number']?>"/>
					</div>
				</div>
				<div  class="username">
					<div class="usernameinner">
						<input type="text" name="office"placeholder="Office/Location of work"value="<?php if (isset($_POST['office'])) echo $_POST['office']?>" />
					</div>
				</div>
				
				<input type="submit" value="Continue">
			
			</form>
			
		</div><!--loginboxinner-->
	</div><!--loginbox-->


</body>
</html>
