<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php include('common/header.php'); ?>

<script type="text/javascript" src="<?php t('templatePathUrl') ?>js/custom/tables.js"></script>

</head>

<body class="withvernav">

<div class="bodywrapper">

	<?php include('common/top_header.php'); ?>
	<?php include('common/menu_header.php'); ?>
	
	<div class="centercontent">
	
		<div class="pageheader">
			<h1 class="pagetitle">Users</h1>
			<span class="pagedesc">Add, edit and update user Information</span>
			
			<ul class="hornav">
				<li><a href="<?php t('baseUrl'); ?>user">User List</a></li>
				<li><a href="<?php t('baseUrl'); ?>user/add">Add a user</a></li>
				<li><a href="<?php t('baseUrl'); ?>group">User Group</a></li>
				<li class="current"><a>Add a User Group</a></li>
			</ul>
		</div><!--pageheader-->
		<div id="contentwrapper" class="contentwrapper">
			<div id="addUser" class="subcontent">
				<h4>Add User Group</h4>
				<br />
				<form action="" method="post" class="quickform">
					<div  class="one_half">
						<p>
							<label>Group Name</label>
							<input type="text" name="name" class="smallinput" required="true"/><br/><br/>
							<label>Group Description</label>
							<textarea name="description" class="smallinput" style="height:100px" required="true"></textarea><br/><br/>
							<input type="submit" value="Add Group" class="stdbtn"/>
						</p>
					</div>
				</form>
			</div><!-- #activities -->
			
		</div>
		
	</div><!-- centercontent -->
	<br class="clearAll"/>
	
</div><!--bodywrapper-->
<?php include('footer.html'); ?>
</body>
</html>


